.DS_Store
live_events/bingternet/sites
live_events/hw/data
__pycache__/
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/python_git.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode
testing/sql/cornfiguration.json
hw/handlers/cornfiguration.json
compootah_cooontoost/code.py
compootah_cooontoost/test.py
