P_qmboe/__pycache__/
P_qmboe/ProjectChatty/test versions/ProjectChatty/__pycache__/
P_qmboe/ProjectChatty/blocked.txt
P_qmboe/ProjectChatty/contact.txt
P_qmboe/ProjektEnkrypto/albreto.txt
P_qmboe/ProjektEnkrypto/cowDump.txt
P_qmboe/ProjektEnkrypto/Atpwd.txt
P_qmboe/ProjektEnkrypto/cowFood.txt
P_qmboe/ProjektEnkrypto/sD.txt
P_qmboe/ProjectChatty/__pycache__/encryption_decryption.cpython-38.pyc
