P_qmboe/__pycache__/
P_qmboe/ProjectChatty/test versions/ProjectChatty/__pycache__/
P_qmboe/ProjectChatty/blocked.txt
P_qmboe/ProjectChatty/contact.txt
P_qmboe/ProjektEnkrypto/albreto.txt
P_qmboe/ProjektEnkrypto/cowDump.txt
P_qmboe/ProjektEnkrypto/Atpwd.txt
P_qmboe/ProjektEnkrypto/cowFood.txt
P_qmboe/ProjektEnkrypto/sD.txt
P_qmboe/ProjectChatty/__pycache__/encryption_decryption.cpython-38.pyc
.idea/
coconut2d/TheAnnoyingPhoneAdGame/venv/Lib/site-packages/easy_install.py
*.pyc
coconut2d/TheAnnoyingPhoneAdGame/venv/
coconut2d/TheAnnoyingPhoneAdGame/__pycache__/
inactive/ProjectChatty/blocked.txt
live_events/coconut2d/TheAnnoyingPhoneAdGame/venv/
live_events/coconut2d/TheAnnoyingPhoneAdGame/__pycache__/game_menu.cpython-37.pyc.222501848
live_events/coconut2d/TheAnnoyingPhoneAdGame/__pycache__/game.cpython-37.pyc.229641416
live_events/coconut2d/TheAnnoyingPhoneAdGame/__pycache__/game.cpython-37.pyc.224578400
live_events/coconut2d/TheAnnoyingPhoneAdGame/__pycache__/
inactive/ProjectChatty/test versions/ProjectChatty/convos2020-04-17_07_40_59.775736.txt
inactive/ProjectChatty/test versions/ProjectChatty/convos2020-04-17_07_26_31.312724.txt
inactive/ProjectChatty/test versions/ProjectChatty/convos2020-04-17_07_25_33.132876.txt
live_events/coconut2d/badiphonegameport/venv/
live_events/coconut2d/badiphonegameport/__pycache__/
/live_events/games/ninetynine/saveData.txt
/live_events/games/bot/key.txt
/live_events/games/moosterybot/key.txt
